.auth_form {
    width: 400px;
    margin: auto;
    margin-top: 15%;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    color: white
}

.header {
    padding-top: 10px;
    padding-right: 20px;
    text-align: right;
    width: 100%;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid black;
    margin: 1em 0;
    padding: 0;
}

body {
    background-image: url("cwevjvss1g8csoooogskogk8k.jpg");
}


.signup_form {
    width: 400px;
    margin: auto;
    margin-top: 10%;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    color: white
}

.chat {
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 10px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    color: white
}

.chat:hover {
    background-color: rgba(79, 49, 49, 0.7);
}

.new_chat {
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 10px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    color: white
}

.time {
    text-align: right;
}

.new {
    color: rgb(20, 226, 20);
}

.old {
    color: rgb(186, 148, 148);
}

.to_center {
    text-align: center;
    width: 100%;
}

.find_user {
    padding-top: 10px;
    margin: auto;
    width: 400px;
}

.title {
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 10px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    color: white
}

.chat_with_user {
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 10px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    height: 400px;
    color: white;
    overflow-y:auto;
}

.write_message {
    margin-left: 80px;
    margin-right: 57px;
    margin-top: 10px;
    color: white;
}

.send_text {
    float: right;
}

.my_message {
    position: relative;
    background-color: blue;
    width: 200px;
    margin-top: 5px;
    border-radius: 10px;
    padding: 10px;
    text-align: right;
    float: right
}

.user_message {
    position: relative;
    background-color: gray;
    width: 200px;
    margin-top: 5px;
    border-radius: 10px;
    padding: 10px;
}